/*colors
    white,black
    --darkBlue:1E2639;
    --lightBlue:#4D8AB5;
    --grey:#B9BEBA;
    --red:#C72523;
    --ruby:#951E22;
    --bloodRd:#951E22;

*/
nav{
    position: fixed;
    bottom:0px;
    width:100%;
    height:10vh;
    border:1px solid black;
    overflow: auto;
    display: flex;
    flex-direction: row;
}
.profileImg{
    height:100px;
    width:100px;
    border:1px solid black;
   
}

.createPost{
 border:1px solid black;
 height: auto;
 width:98%;
 margin: 0 auto;
 background: var(--ruby);
}
.createPost textarea{
    background:white;
    width:90%;
}
.createPost form{
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
}

