/*
    white,black
    --darkBlue:1E2639;
    --lightBlue:#4D8AB5;
    --grey:#B9BEBA;
    --red:#C72523;
    --ruby:#951E22;
    --bloodRd:#951E22;

*/

.account{
    border-radius: 10px;
    background:rgba(185,190,186,0.85);
    box-shadow: 4px 5px 10px 1px rgba(0,0,0,0.7);
    margin:20px auto;
    width:80vw;
    padding:10px;
}
input{
    background: white;
    color:black;
    border:none;
    position: relative;
    margin: 0 auto;
    margin-top:5px;
    border-radius: 5px;
}

