:root{
    /*black and white includead*/
    --darkBlue:#1E2639;
    --lightBlue:#4D8AB5;
    --grey:#B9BEBA;
    --red:#C72523;
    --ruby:#951E22;
    --bloodRd:#951E22;
}
* {
  padding: 0;
  margin: 0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;   
}

body{
    min-height: 100vh;
    height:100%;
    min-width: 100vw;
    background: rgb(30,38,57);
    background: linear-gradient(180deg, rgba(30,38,57,0.8074580173866421) 0%, rgba(149,30,34,0.19121151878720233) 90%);
 
}
.profile{
    width:100vw;
    height:90vh;
    background:var(--darkBlue);
    position: absolute;
    color:white;
   
}

.navigate{
    border:1px solid black;
    width:50px;
    height:50px,
}